@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500|Open+Sans|Pinyon+Script');
html {
  -webkit-overflow-scrolling: touch;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18pt;
  overflow-x: hidden;
  background-color:#252025;
}

a {
  color:#ccc;
}

a:hover {
  color:#aaa;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
}

.caption {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
}

.parallax-container {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(-1 * ((100vw - 100%) / 2));
  margin-top: 4em;
  margin-bottom: 3em;
  padding: 0 0;
  background-color: white;
  position: relative;
}

.parallax {
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  color:#ccc;
  background-color:#353035;
  max-width: 40em;
  margin: 0 auto;
  padding: 0 5em;
  text-align: left;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption .border {
  background-color: #01010199;
  color: #fff;
  padding: 0.5em;
  font-size: 3em;
  /* letter-spacing: 10px; */
  display: inline-block;
}

* > :first-child { margin-top: 0 !important; }
* > :last-child { margin-bottom: 0 !important; }

@media only screen and (max-device-width: 1024px) {
    /* Turn off parallax scrolling for tablets and phones */
    .parallax {
        background-attachment: scroll;
    }

    .text {
        max-width: 100%;
        padding: 0 5em;
        margin: 0 0;
    }
}