body {
    /* font: 100% / 1.5 Arial;
    text-align: center; */
}
* {
    margin: 0;
    padding: 0;
}
.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(1.5) ;
}
.parallax__layer--back>img {
    min-height: 100vh;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer {
    /* padding: 100vh 0; */
}

/* body {
}

.parallax::after {
    The image used
    background-image: url("/img/background.jpg");

    Set a specific height
    height: 500px;

    Create the parallax scrolling effect
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
 */
.paper {
    max-width: 60em;
    border: black;
    border-width: 0.5em;
    background-color:#f5f5f5AA;
    color: #1f3f3f;
    border-style: solid;
    margin: 5em auto;
    padding: 5em 10em;
}

h1#title {
    padding: 0em 0em 0em;
    margin: 5em 0em;
    text-shadow: 3px 2px red;
    text-align: center;
}

article#content {
    color: inherit;
}